# Don't push raw data to github, should be pulled from source code
*.csv
*.txt
*.xlsx
*.xls
*.db

# Notebook checkpoints, cache
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/
*.pyc

# Constants
constants.py
